/* Body */
body {
    margin: 0;
}
main {
    margin: 0, auto;
    max-width: auto;
    padding: 0 5rem ;
}
.search-form {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.search-form >* {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.search-form i {
    background-color: var(--lightgrey);
    border-radius: 1rem 0 0 1rem;
}
.search-form input {
    flex-basis: 16rem;
    border: 1px solid var(--lightgrey);
    overflow: auto;
}
.search-form button {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: transform 500ms;
}
.search-form button:hover {
    opacity: 1;
    transform: scale(1.05);
}
.search h1, .search p {
    margin-bottom: 1rem;
}
.fas.fa-search {
    display: none;
}